Repository capacitor-community/appcenter-sdk-capacitor, pull requests merged in 2021-09, with the labels that each got.

#30 Crashes android last session crash report
  appcenter-crashes/CHANGELOG.md
  appcenter-crashes/README.md
  appcenter-crashes/android/src/main/java/com/getcapacitor/plugin/appcenter/crashes/CrashesBase.java
  appcenter-crashes/android/src/main/java/com/getcapacitor/plugin/appcenter/crashes/CrashesPlugin.java
  appcenter-crashes/android/src/main/java/com/getcapacitor/plugin/appcenter/crashes/CrashesUtil.java
  appcenter-crashes/package.json
  appcenter-crashes/src/definitions.ts
  appcenter-crashes/src/web.ts
  example/package.json
  example/src/components.d.ts
  example/src/components/app-crashes/app-crashes.tsx
  example/src/components/app-crashes/error-report-items-modal.css
  example/src/components/app-crashes/error-report-items-modal.tsx
Labels: enhancement

#31 Crashes track error
  appcenter-crashes/CHANGELOG.md
  appcenter-crashes/README.md
  appcenter-crashes/android/build.gradle
  appcenter-crashes/android/src/main/java/com/getcapacitor/plugin/appcenter/crashes/CrashesBase.java
  appcenter-crashes/android/src/main/java/com/getcapacitor/plugin/appcenter/crashes/CrashesPlugin.java
  appcenter-crashes/android/src/main/java/com/getcapacitor/plugin/appcenter/crashes/CrashesUtil.java
  appcenter-crashes/ios/Plugin/AppCenterCrashesPlugin.m
  appcenter-crashes/ios/Plugin/AppCenterCrashesPlugin.swift
  appcenter-crashes/package.json
  appcenter-crashes/src/definitions.ts
  appcenter-crashes/src/web.ts
  example/package.json
  example/src/components/app-crashes/app-crashes.tsx
Labels: enhancement, crashes

#34 Add Linting Github workflow and template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/main.yml
  package.json
Labels: documentation, ci

#37 refactor(appcenter): fix lint error
  appcenter/src/web.ts
Labels: appcenter

#35 Crashes track error ios
  appcenter-analytics/CHANGELOG.md
  appcenter-analytics/CapacitorCommunityAppcenterAnalytics.podspec
  appcenter-analytics/ios/Plugin/AppCenterAnalyticsPlugin.m
  appcenter-analytics/ios/Plugin/AppCenterAnalyticsPlugin.swift
  appcenter-analytics/ios/Podfile
  appcenter-analytics/package.json
  appcenter-crashes/CHANGELOG.md
  appcenter-crashes/CapacitorCommunityAppcenterCrashes.podspec
  appcenter-crashes/README.md
  appcenter-crashes/ios/Plugin/AppCenterCrashesBase.swift
  appcenter-crashes/ios/Plugin/AppCenterCrashesPlugin.swift
  appcenter-crashes/ios/Plugin/AppCenterCrashesUtil.swift
  appcenter-crashes/ios/Podfile
  appcenter-crashes/package.json
  appcenter/CHANGELOG.md
  appcenter/CapacitorCommunityAppcenter.podspec
  appcenter/ios/Podfile
  appcenter/package.json
  example/package.json
  example/src/components/app-crashes/app-crashes.tsx
Labels: enhancement, plugin: analytics, plugin: crashes, plugin: appcenter

#38 readme cleanup and add contributing doc
  CONTRIBUTING.md
  README.md
  appcenter-analytics/CONTRIBUTING.md
  appcenter-analytics/README.md
  appcenter-crashes/CONTRIBUTING.md
  appcenter-crashes/README.md
  appcenter/CONTRIBUTING.md
  appcenter/README.md
Labels: documentation
